@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Your+First+Font|Your+Second+Font&display=swap");
@layer base{
  body{
    @apply font-[RaleWay];
  }
  li{
    @apply px-4;
    @apply cursor-pointer
  }
}
.content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover{
  background-image:linear-gradient(to right,rgba(112,157,0.8),hsla(242,74%,61%,0.8))!important ;
}
.first-ad {
  font-size: 40px;
  font-weight: 500;
  opacity: 0; /* Start hidden */
  animation: fadeIn 2s ease-in forwards; /* Trigger fade-in animation */
}